# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse project files
.project
.classpath
.settings/

# IntelliJ IDEA project files
.idea/
*.iml
*.iws

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code project files
.vscode/

# Maven
target/

# Gradle
.gradle/
build/

# MacOS
.DS_Store

# Windows
Thumbs.db
